/**
 * General reader styles.
 */
  *
  {
    line-height: 140%;
/*    font-family: inherit;*/
  }
  
  .rendered-page {
    padding: 0 3px 0 3px;
  }

  p
  {
    word-wrap: break-word;
    margin: 0;
  }

  p+p
  {
    text-indent: 2em;
  }

  br+p
  {
    text-indent: 0;
  }

/**
 * Styles for headers.
 */
  h1, h2, h3,
  h4, h5, h6
  {
    position: static;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 100%;
    margin-top: 1em;
    font-weight: normal;
  }

  h1:first-child, h2:first-child, h3:first-child,
  h4:first-child, h5:first-child, h6:first-child
  {
    margin-top: 0;
  }

  h1
  {
    margin-bottom: 1em;
  }

  h2
  {
    margin-bottom: 0.5em;
  }

  h1
  {
    font-size: 150%;
  }

  h2
  {
    font-size: 140%;
  }

  h3
  {
    font-size: 120%;
  }

  h4
  {
    font-size: 110%;
  }
  h5
  {
    font-size: 105%;
  }

  h1+h1
  {
    font-size: 130%;
    margin-top: -0.6em;
  }

  br+h2
  {
    margin-top: 0;
  }


/**
 * Remove paragraph's indent inside headers.
 */
  .indentless,
  h1 p, h2 p, h3 p,
  h4 p, h5 p, h6 p
  {
    text-indent: 0;
  }


/**
 * Right alignment layout.
 */
  .right {
    text-align: right;
    margin-bottom: 1.3em;
    padding-left: 20%;
  }

  .right p {
    text-indent: 0;
    margin-bottom: 0.3em;
  }

  .right em {
    font-size: 80%;
  }


/**
 * Center alignment layout.
 */
  .center
  {
    text-align: center; text-indent: 0;
  }

  .center p
  {
    text-indent: 0;
  }

  p+.center
  {
    margin-top: 1em;
  }


/**
 * Footnotes and images.
 */
  .footnote
  {
    cursor: pointer;
    border-bottom: 1px dotted;
    opacity: 0.6;
  }

  .page-image
  {
    display: block;
    padding: 20px 0;
    text-align: center;
  }
  .page-image img { display: block; }
  
  a { color: blue; }
  
  /* Lists */
  ul, ol { padding-left: 40px; margin: 0.8em 0; font-size: 90%; }
  ul ul, ul ol, ol ul, ol ol { font-size: 100%; }
  ul, ul li { list-style: disc outside; }
  ol, ol li { list-style: decimal outside; }

  pre { font-size: 75%; padding-left: 20px; }
  pre, code { font-family: "Courier New", Courier, monospace; }